pipeline/Dynamic_Staging_PL.json
{
	"name": "Dynamic_Staging_PL",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Table_Names",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeV2Source",
						"query": {
							"value": "SELECT TABLE_NAME AS table_name, TABLE_SCHEMA AS schema_name FROM DEV_DB.INFORMATION_SCHEMA.TABLES \nWHERE TABLE_TYPE = 'BASE TABLE' AND schema_name = '@{pipeline().parameters.sname}';",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "Snowflake_Demo_DS",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": "PUBLIC",
							"table_name": "BREED_DIM"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Table_Names",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Table_Names').output.value",
						"type": "Expression"
					},
					"batchCount": 10,
					"activities": [
						{
							"name": "SourceToParquet",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:30:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SnowflakeV2Source",
									"exportSettings": {
										"type": "SnowflakeExportCopyCommand"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Snowflake_Demo_DS",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": {
											"value": "@item().schema_name",
											"type": "Expression"
										},
										"table_name": {
											"value": "@item().table_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_Parquet_Staging",
									"type": "DatasetReference",
									"parameters": {
										"Directory": "na",
										"FileName": {
											"value": "@concat(\n    item().table_name,'.parquet'\n)",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"sname": {
				"type": "string",
				"defaultValue": "PUBLIC"
			}
		},
		"variables": {
			"tablename": {
				"type": "String"
			}
		},
		"annotations": []
	}
}